body{
    margin: 0;
    padding: 0;
    background-color: #fdde7e;
}

.container{
    box-sizing: border-box;
    width: 1152px;
    margin: 0 auto;
    padding: 80px 0;

    height: 20px;
    display: flex;
}

.flex{
    margin: 15px;
    height: 458px;
    width: calc(33% - 30px);
    background-color: #fff;
}

.text{
    color: #02995b;
    font-size: 48px;
    text-align: center;
    margin-top: 43px;
    font-family: 'Miso Bold';
}

.col-1::after{
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 38px;
    height: 135px;
    background: url(/content/bronze-bean.png) center no-repeat;
}

.col-2::after{
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 38px;
    height: 135px;
    background: url(/content/gold-bean.png) center no-repeat;
}

.col-3::after{
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 38px;
    height: 135px;
    background: url(/content/bean-silver.png) center no-repeat;
}

.name{
    margin-top: 0;
    color: #333333;
    font-size: 36px;
    text-align: center;
}

.content-bottom{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 38px auto;
    color: #4e4e4e;
    font-size: 20px;
}

 
