html,body{
    padding: 0;
    margin: 0;
}

body{
    width: 1280px;
    height: 976px;
    background-color: white;
}

.container{
    width: 940px;
    margin: auto;

}

h1{
    text-align: center;
    color: #0ec8cb;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 30px;

    margin-top: 187px;
    margin-bottom: 0;
    box-sizing: border-box;
}

h1::before{
    content: "WHO WE ARE";
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #898f99;
    display: block;

    margin-bottom: 35px;

}

h2{
    text-align: center;
    color: #999999;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;

    margin-top: 45px;
    margin-bottom: 108px;
    box-sizing: border-box;
}

table{
    margin: 0;
    width: 920px;
    height: 420px;
    border-collapse: collapse;
    box-sizing: border-box;
}

td{
    padding: 175px 0 0 0;
    width: 230px;
    background-color: #f7f4f7;
    box-sizing: border-box;
}

th, td {
    border: 2px solid #ececec;
}

td div:nth-child(odd){
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-bottom: 32px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0;
}

.title_first::before{
    display: block;
    content: "";
    background: url(/Anchor.png) center no-repeat;
    margin: 0 auto;
    width: 64px;
    height: 65px;
    box-sizing: border-box;
    margin-bottom: 55px;
}

.title_second::before{
    display: block;
    content: "";
    background: url(/Diamond.png) center no-repeat;
    margin: 0 auto;
    width: 64px;
    height: 65px;
    box-sizing: border-box;
    margin-bottom: 55px;
}


.title_third::before{
    display: block;
    content: "";
    background: url(/Eyeglasses.png) center no-repeat;
    margin: 0 auto;
    width: 64px;
    height: 65px;
    box-sizing: border-box;
    margin-bottom: 55px;
}

.title_forth::before{
    display: block;
    content: "";
    background: url(/Monitor.png) center no-repeat;
    margin: 0 auto;
    width: 64px;
    height: 65px;
    box-sizing: border-box;
    margin-bottom: 55px;
}

td div:nth-child(even){
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #757777;
    text-align: center;

    padding: 34px 26px 94px 30px;
    margin-bottom: 0;
}

td:hover{
    background-color: #0ec8cb;
}

td:hover .title_first::before{
    content: " ";
    background: url(/Anchor_white.png) center no-repeat;
}

td:hover .title_second::before{
    content: " ";
    background: url(/Diamond_white.png) center no-repeat;
}

td:hover .title_third::before{
    content: " ";
    background: url(/Eyeglasses_white.png) center no-repeat;
}

td:hover .title_forth::before{
    content: " ";
    background: url(/Monitor_white.png) center no-repeat;
}

td:hover div{
    color: white;
}
