* {
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 10px;
  border: black solid 2px;
}

.margin-top {
  margin-top: 10px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.btn {
  display: block;
  text-align: center;
  background-color: grey;
  width: 150px;
  height: 40px;
}
