html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #464f53;
  padding: 150px 70px;
  position: relative;
}

.container {
  width: 1060px;
  background-color: white;
  margin: 0 auto;
  padding: 200px 125px 20px;
  box-sizing: border-box;

  height: 752px;
}

.title {
  width: 876px;
  height: 189px;
  box-sizing: border-box;
  padding: 50px 0px 50px 60px;
  background-color: #181818;
  position: absolute;
  left: 325px;
  top: 45px;
}

.title__text {
  width: 813px;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(254, 254, 254, 0.1);
  box-sizing: border-box;
  padding: 13px 4px 22px;
  font-size: 36px;
  color: #fefefe;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.title__text::before {
  content: "TITLE";
  font-size: 15px;
  color: #767676;
  font-family: sans-serif;
}

.title__text:focus {
  outline: none;
}

.buttons {
  width: 810px;
  height: 76px;
  box-sizing: border-box;
  background-color: #fabe2d;
  position: absolute;
  left: 391px;
  top: 240px;
  padding: 16px 40px 28px;
}

.buttons__icon {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(254, 254, 254, 0.5);
  font-size: 28px;
}

.buttons__icon:hover {
  color: white;
}

.container__title {
  font-size: 52px;
  letter-spacing: 4px;
  color: #2a2a2a;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0 auto 22px;
}

.container__title::before {
  content: "Roy Batty, 2019";
  display: block;
  font-size: 15px;
  font-family: "Proxima Nova";
  color: #b5b5b5;
  margin: 0 auto 51px;
}

.container__second-title {
  font-size: 22px;
  color: #8f8f8f;
  font-style: italic;
  font-family: sans-serif;
  text-align: left;
  margin: 0 auto 61px;
}
.container__text {
  font-size: 19px;
  line-height: 20px;
  color: #000000;
  font-family: sans-serif;
  text-align: justify;
  margin-bottom: 40px;
  line-height: 20px;
}
